* {
    margin: 0;
    font-family: "Inter", sans-serif;
}

#nav-options ul li {
    list-style: none;
    text-align: justify;
    display: inline;
      width: 365px;
    height: 300px;
    margin: 5px;
    padding:100px 20px 30px 50px;
    ;
    


}

#nav-options ul li a {
    text-decoration: none;
    color: black;
   
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    
}
#nav-options{
    margin-top: 10px;
}


#nav-button button {
    background-color: #30B868;
    color: white;
    width: 164px;
    height: 44px;
    Padding: 12px, 16px;
    border-radius: 4px;
    border-color: white;
}

.banner-container {
    width:100%;
    height: 704px;
    /* background-image: url("/assets/hero-bg.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}