* {
    margin: 0;
    font-family: "Inter", sans-serif;
}

#nav-options ul li {
    list-style: none;
    text-align: justify;
    display: inline;
    width: 365px;
    height: 300px;
    margin: 5px;
    padding: 100px 20px 30px 50px;
    ;



}

#nav-options ul li a {
    text-decoration: none;
    color: black;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;

}

#nav-options {
    margin-top: 10px;
}


#nav-button button {
    background-color: #30B868;
    color: white;
    width: 164px;
    height: 45px;
    Padding: 12px, 16px;
    border-radius: 4px;
    border-color: white;
}

.banner-container {
    width: 100%;
    height: 780px;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.banner-container h1 {
    width: auto;
    height: 72px;
    font-weight: 700px;
    font-style: bold;
    font-size: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 84px;
}

#banner-p p {
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    color: white;
}

#banner-buttons {
    display: flex;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    gap: 15px;

}

#btn-1 {
    width: 251px;
    height: 52px;
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    background-color: #469165;
    font-size: 16px;
     
    text-align: center;
     
}
#btn-2{
    width: 251;
    height: 52px;
    border-radius: 4px;
    border-radius: 4px;
    padding: 12px 16px;
    background: transparent;
    color: white;
    border-radius: 4px;
    border-color: white;
    font-size: 16px;
    /* font-weight: 11600px; */
    font-size: 16px;
}

#upper-button{
     width: 251px;
    height: 35px;
    border-radius: 20px;
    padding: 8px 12px;
    color: #469165;
    background-color: white;
    font-size: 16px;
     
    text-align: center;
     
   
}