* {
    margin: 0;
    font-family: "Inter", sans-serif;
}

#nav-options ul li {
    list-style: none;
    text-align: justify;
    display: inline;
    width: 365px;
    height: 300px;
    margin: 5px;
    padding: 100px 20px 30px 50px;
    ;



}

#nav-options ul li a {
    text-decoration: none;
    color: black;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;

}

#nav-options {
    margin-top: 10px;
}


#nav-button button {
    background-color: #30B868;
    color: white;
    width: 164px;
    height: 45px;
    Padding: 12px, 16px;
    border-radius: 4px;
    border-color: white;
}

.banner-container {
    width: 100%;
    height: 780px;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.banner-container h1 {
    width: auto;
    height: 72px;
    font-weight: 700px;
    font-style: bold;
    font-size: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 84px;
}

#banner-p p {
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    color: white;
}

#banner-buttons {
    display: flex;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    gap: 15px;

}

#btn-1 {
    width: 251px;
    height: 52px;
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    background-color: #469165;
    font-size: 16px;
     
    text-align: center;
     
}
#btn-2{
    width: 251;
    height: 52px;
    border-radius: 4px;
    border-radius: 4px;
    padding: 12px 16px;
    background: transparent;
    color: white;
    border-radius: 4px;
    border-color: white;
    font-size: 16px;
    /* font-weight: 11600px; */
    font-size: 16px;
}

#upper-button{
     width: 251px;
    height: 35px;
    border-radius: 20px;
    padding: 8px 12px;
    color: #469165;
    background-color: white;
    font-size: 16px;
     
    text-align: center;
     
   
}

.cards-parents{
    padding: 0 120px;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.cards-content{
    padding: 20px;
    margin: 0 auto;
     
    justify-content: center;
    /* border: 1px solid red; */
}

.cards-content h2 {
     text-align: center;
}
.cards-content #para-upper{
    text-align: center;
}

.card-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    text-align: center;
}

#brain{
    /* width: 85%;
    max-width: 1600px; */
    padding: 120px 120px 120px 120px;
}

.brain-container{
     
    text-align: center;
    display: flex;
    justify-content: space-between;

}
 .brain-content{
    text-align: left;
 }
.brain-image img{
    width:550px; 
    height: 550px;
}

.brain-container h3{
    font-weight: 700px;
    font-size: 48px;
    font-weight: bold;
}
.brain-content-upper{
    gap: 16px;
}

.brain-content .brain-content-upper, .brain-content-lower{
    align-items: center;
    /* align-items: center; */
    /* display: flex; */
    
}
.brain-content{
    padding: 120px 0 120px 60px;
}

.brain-content-lower p{
    font-weight: bold;
}

.brain-content-lower p img{
    border: #F95555;
    border-radius: 20px;
}

.ready-section, .ready-container{
    margin: 0 120px 120px 120px 120px;
    padding: 0 120px 120px 120px 120px;
}
.ready-section .ready-container{
    padding: 0 120px 120px 120px 120px;
    align-items: center;
    text-align: center;
    background-color: #F7F6F2;
}

.ready-header h4{
    font-weight: bold;
    font-size: 40px;
}

.button-last{
    padding: 12px 16px;
    background-color: #30B868;
    color: white;
    border: #469165;
}
    
 .footer-container{
    background-color: #001931;
    padding: 120px 120px 30px 120px;
 }

.footer-social{
    width: 220px;
    text-align: left;

}

.footer-social p{
    color: white;
}

 .footer-social img{
    border: white;
    border-radius: 10px;
 }

 .footer-up{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
 }

 .hr-part p{
    margin-top: 30px;
    text-align: center;
    color: white;
 }






 .cards-parent .cards-content h2{
    font-size: 48px;
    font-weight: bold;

 }

 .card-1 img{
    background-color: #F95555;
    border-radius: 25px;
    padding: 10px;
 }

 .card-1{
    box-shadow: inset 0 100px 0 0 0 ;
    gap: ;

 }

